@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

/*
Epilogue by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*Own Styling*/


body {
    background-color: lightblue;
}
.navbar.navbar-inverse .navbar-header .navbar-brand {
  display: block;
  text-align:center;
  float: none;
  vertical-align: top;
}
.navbar.navbar-inverse .navbar-header {
  float: none;
}
.select {
    white-space: nowrap;
    padding-left: 500px;
}
.select {
    padding-right: 400px;
    text-align:center;
}
.search #search-bar{
    width: 1000px;
    height:50px;
}
